@media screen and (orientation: landscape) {

    body {
        background: url(003l.jpg) no-repeat center top fixed;
        background-size: cover;
    }

    .front {
        bottom: 10%;
        right: 5%;
    }
}

@media screen and (orientation: portrait) {
    body {
        background: url(003p.jpg) no-repeat center top fixed;
        background-size: cover;
    }

    .front {
        bottom: 5%;
        left: 5%
    }
}

.front {
    position: absolute;
    background-color: black;
    border: 1px solid slategray;
    opacity: 0.5;
    padding: 20px 40px;
}

.front .menu-item {
    font-size: 22px;
    text-transform: uppercase;
    line-height: 2em;
    color: white;
}

.front a {
    color: white;
    text-decoration: none;
}
